
<h4 class="text-center">Please enter your username and password below to begin creating micro posts.</h4>

<form method="POST" action="/sign-in">
  
    <input type="text" name="username" class="input-block-level" placeholder="Username">
    <input type="text" name="password" class="input-block-level" placeholder="Password">
    
    <button type="submit" class="btn btn-warning pull-right">Submit</button>
 
</form>

<h5 class="text-center">Joseph Martin Rivera &ndash; 2014</h5>
