


<div class="jumbotron">

<img class="center-block img-responsive" src="blog_with_color_and_shadow.svg" width="450" >
  <h1 class="text-center"><b>Welcome!</b></h1>

<p></p>

  <h3 class="text-center">Please enter your username and password below to begin creating micro posts.</h3>

<link class="cssdeck" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css">

<form method="POST" action="/sign-in">
  <fieldset>
    <input type="text" name="username" class="input-block-level" placeholder="Username">
    <input type="text" name="password" class="input-block-level" placeholder="Password">
    
    <button type="submit" class="btn btn-warning pull-right">Submit</button>
  </fieldset>
</form>

<h5 class="text-center">Joseph Martin Rivera &ndash; 2014</h5>

</div>
